:root {
    --title-gradient: linear-gradient(90deg, #239982 -1.88%, #6d64d3 104.56%);
}

h1, h2, h3, h4, h6 {
    background: var(--title-gradient); /* Gradient background */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback color */
    margin: 0;
}
p,h5 {
    color: white;
    margin: 0;
}

.main-text {
    font-size: 1.5rem;
    line-height: 2;
}

h1 {
    font-size: 5rem;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

}

body {
    background:
        linear-gradient(105deg, #5EB1BF, #0a5153, #5D576B, #8884FF),
        linear-gradient(105deg, rgba(94, 177, 191, 0.7), rgba(4, 42, 43, 0.7), rgba(93, 87, 107, 0.7), rgba(136, 132, 255, 0.7)),
        linear-gradient(105deg, rgba(94, 177, 191, 0.4), rgba(4, 42, 43, 0.4), rgba(93, 87, 107, 0.4), rgba(136, 132, 255, 0.4)),
        linear-gradient(105deg, rgba(94, 177, 191, 0.2), rgba(4, 42, 43, 0.2), rgba(93, 87, 107, 0.2), rgba(136, 132, 255, 0.2));
    background-size: 300% 300%;
    animation: wave-animation 15s ease-in-out infinite;
    background-blend-mode: multiply;
}

@keyframes wave-animation {

    0%,
    100% {
        background-position: 50% 0%;
    }

    25% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    75% {
        background-position: 100% 50%;
    }
}

li {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 20px;
    text-decoration: none;
    list-style-type: none;
}